<!DOCTYPE html>
<html>
    <head>
        <script src="http://simplewebrtc.com/latest.js"></script> 
        <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script> 
        <script src="javascripts/socket.io.js"></script>
        <script src="javascripts/recognizer.js"></script>
        <style>
           .interim {
              color: #999;
           }
           .final {
              color: #222;
           }
           #localVideo {
              float:left;
           }
           .clear {
              clear:both;
           }
           video {
              width: 400px;
              height: 400px;
           }
           .dialouge-box {
              border: 1px solid #333;
              width: 600px;
              position: absolute;
              height: 300px;
              left: 425px;
              font-size:25px;
              overflow: auto;
           }
           #dialouge-box-self {
              top: 58px;
           }
           #dialouge-box-remote {
              top: 462px;
           }

        </style>
    </head>
    <body>
        <div id="localVideo"></div>
        <div id="remotesVideos" class="clear"></div>
        <div id="dialouge-box-self" class="dialouge-box"></div>
        <div id="dialouge-box-remote" class="dialouge-box"></div>
        <script>
         var webrtc = new SimpleWebRTC({
             // the id/element dom element that will hold "our" video
             localVideoEl: 'localVideo',
             // the id/element dom element that will hold remote videos
             remoteVideosEl: 'remotesVideos',
             // immediately ask for camera access
             autoRequestMedia: true
         });
         // we have to wait until it's ready
         webrtc.on('readyToCall', function () {
             // you can name it anything
             webrtc.joinRoom('your awesome room name');
         });

         var socket = io.connect('http://localhost');

         $divSelf = $('<div></div>');
         $divSelf.appendTo('#dialouge-box-self');
         $divRemote = $('<div></div>');
         $divRemote.appendTo('#dialouge-box-remote');
         socket.on('receive-interim', function(data) {
            console.log('hi');
            $divRemote.html(data.message)
                      .removeClass('interim')
                      .removeClass('final')
                      .addClass('iterim');

            $("#dialouge-box-self").animate({ scrollTop: 999999 }, 500);
         });
         socket.on('receive-final', function(data){
            console.log('hello');
            $divRemote.html(data.message)
                      .removeClass('interim')
                      .removeClass('final')
                      .addClass('final');

            $divRemote = $('<div></div>');
            $divRemote.appendTo('#dialouge-box-remote');
            $("#dialouge-box-self").animate({ scrollTop: 999999 }, 500);
         });

         var r = recognizer(true,true,"en")
         r.onInterim(function(data) {
            $divSelf.html(data.message)
                      .removeClass('interim')
                      .removeClass('final')
                      .addClass('interim');

            socket.emit('send-interim', {message: data.message});
         });

         r.onFinal(function(data) {
            $divSelf.html(data.message)
                      .removeClass('interim')
                      .removeClass('final')
                      .addClass('final');

            $divSelf = $('<div></div>');
            $divSelf.appendTo('#dialouge-box-self');
            $("#dialouge-box-self").animate({ scrollTop: 999 }, 1000);
            socket.emit('send-final', {message: data.message});
         });
         r.start();
        </script>
    </body>
</html>
